/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200..900&display=swap');

/* Body Styles */
body {
    background-color: #fbf8ec;
    color: #92a096;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

/* Heading Styles */
h1, h2 {
    font-family: 'Playfair Display', serif;
    color: #25685f;
    text-align: center;
}

h1 {
    font-size: 78px;
    animation: fadeInDown 2s ease;
    padding-bottom: 10px;
}

h2 {
  margin-top: 20px;
    font-size: 48px;
}

/* Jumbotron Styles */
.jumbotron {
    margin-bottom: 10px;
    background-color: #fbf8ec;
    border-radius: 0.3rem;
}

/* Container Styles */
.container {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin-top: 10px;
    padding-top: 20px; /* Add padding to create space for the image */
}

.content {
    flex: 1;
}

#container2 {
    background-color: inherit;
    width: auto;
    height: 50vh;
    margin-left: 0%;
    margin-right: 0%;
    overflow: hidden;
}

#container2 h1 {
    font-size: 90px;
}

#container2 img {
    width: 150%;
    height: 400px;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: right;
}

#container2 .col-md-6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    flex: 1;
    overflow: hidden;

}

/* List Styles */
.container ul {
    list-style-type: georgian;
}

.container ul li {
    margin-bottom: 10px;
}

.container ul li h2 {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 10px;
    text-align: center;
    color: #25685f;
}

.container ul li p {
    font-size: 20px;
    margin-bottom: 5px;
    text-align: left;
    color: #fbf8ec;
}

/* Header Styles */
header {
    color: inherit;
    padding: 10px 0;
    margin: 20px;
    animation: fadeInDown 2s ease;
    padding-left: 20px;
    padding-right: 20px;
}

header h1 {
    font-family: "Playfair Display", serif;
    font-weight: 500;
    font-size: 40px;
    margin: 0;
    color: #25685f;
}

header p {
    font-family: "Inter", sans-serif;
    padding: 20px;
    margin: 0;
}

header img {
    width: 100px;
    height: 100px;
}

/* Header Container Styles */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-link {
    color: #fcd961;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-left: 20px;
}

.header-link:hover {
    text-decoration: underline;
}

/* Section Styles */
section {
    align-items: center;
    justify-content: center;
    height: 100px;
    margin-bottom: 5px;
}

section h2 {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 5px;
    text-align: center;
    color: #25685f;
}

section p {
    font-size: 20px;
    margin-bottom: 5px;
    text-align: left;
    color: #fbf8ec;
}

/* Link Styles */
a {
    color: #fcd961;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Image Styles */
.image-container {
    text-align: center;
    padding: 10px !important;
}

.image-container img {
    max-width: 300%;
    height: auto;
}

/* Button Styles */
.btn.btn-primary {
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 3.2rem;
  margin: 0 auto;
  padding: 0;
  position: relative;
  background: rgba(0, 0, 0, 0);
  border: none;
  outline: 0;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  background: #033a35; /* Dark greenish */
  color: #fcd961; /* Yellow */
}

.btn.btn-primary::after {
  content: '\2192'; /* Yellow arrow unicode */
  margin-left: 5px;
  /* Spacing between text and arrow */
}

/* Footer Styles */
footer {
  font-size: 12px;
  padding: 20px 0;
  text-align: left;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer img {
  width: 70px;
  height: auto;
}

footer p {
  margin-bottom: 0;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 70px;
  height: 70px;
}